:root {
  --accent-secondary: rgb(255, 150, 4);
  --accent-primary: rgb(0, 82, 158);
  --accent-orange: rgb(255, 150, 4);
  --font-orange: rgb(224, 134, 8);
  --accent-yellow: rgb(255, 206, 83);
  --font-yellow: rgb(244, 193, 65);
  --accent-blue: rgb(101 141 177);
  --font-blue: rgb(82, 132, 175);
  --accent-green: rgb(77, 209, 132);
  --font-green: rgb(58, 184, 110);
  --light: rgb(241, 241, 241);
  --dark: rgb(29, 29, 29);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--light);
}

h1 {
  font-size: 3rem;
  font-family: 'Varela Round', sans-serif;
  text-shadow:
    -2px 0 #fff,
    2px 0 #fff,
    0 -2px #fff,
    0 2px #fff,
    2px 2px #fff,
    -2px -2px #fff,
    2px -2px #fff,
    -2px 2px #fff;
}
h2 {
  font-size: 2rem;
  font-family: 'Varela Round', sans-serif;
}
h3 {
  font-size: 1rem;
  margin-top: 2rem;
  font-family: 'Varela Round', sans-serif;
}
p {
  padding-top: 2rem;
}
a {
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
}
button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style: none;
}
li {
  text-decoration: none;
}

img {
  width: 30vw;
  height: auto;
  border-radius: 1rem;
}

// ---------------------------- classes ----------------------------

.view {
  position: relative;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  min-height: 80vh;
  display: flex;
  margin-top: 8rem;
  padding: 2rem clamp(1rem, 4vw, 5rem) 2rem;
  justify-content: center;
  align-items: center;
}

// ---------------------------- media phone ----------------------------

@media screen and (max-width: 767px) {
  .view {
    margin-bottom: 2rem;
  }
  .content {
    flex-direction: column;
    h1 {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }
}

// ---------------------------- utillities ----------------------------

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.gridCenter {
  display: grid;
  place-content: center;
}
