$accent: var(--accent-green);

#galleryView {
  margin-top: 12rem;
  margin-bottom: 2rem;
}

#galleryView svg {
  position: fixed;
  fill: $accent;
  height: auto;
  z-index: -1;
  pointer-events: none;
  &#firstMacaroni {
    width: 60vw;
    bottom: -23vw;
    left: -18vw;
    opacity: 0.5;
    z-index: 1;
    transform: rotate(170deg);
  }
  &#secondMacaroni {
    width: 20vw;
    top: 0;
    right: -5vw;
    opacity: 0.8;
    transform: rotate(90deg);
  }
  &#thirdMacaroni {
    width: 6rem;
    top: 70vh;
    right: 32vw;
    opacity: 0.9;
    z-index: 1;
    transform: rotate(190deg);
  }
  &#fourthMacaroni {
    width: 2rem;
    top: 20vh;
    left: 5vw;
    z-index: 1;
    transform: rotate(-5deg);
  }
}

#galleryView .galleryContent {
  width: 80vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
  img {
    margin-bottom: 1rem;
    border-radius: 2px;
    width: 25vw;
    height: 20vw;
    object-fit: cover;
    &:hover {
      cursor: pointer;
    }
  }
}

#galleryView .modalPopUp {
  position: fixed;
  margin-top: 5rem;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  background: color-mix(in srgb, var(--darker) 80%, transparent);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  padding: 5vh;
  z-index: 10;
}

#galleryView .modalPopUp .modalImage {
  position: relative;
  object-fit: contain;
  img {
    max-height: 80vh;
    max-width: 80vw;
    width: auto;
    border-radius: 2px;
    box-shadow: 0 0 50px color-mix(in srgb, var(--background) 10%, black 70%);
  }
}

#galleryView button {
  font-family: 'Varela Round', sans-serif;
  position: absolute;
  background: color-mix(in srgb, var(--background) 70%, white 70%);
  background-color: var(--lighter);
  color: var(--foreground);
  border: none;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: 0 0 50px color-mix(in srgb, var(--background) 10%, black 70%);
  transition: all 0.3s ease;
  &:hover {
    background: var(--background);
    transform: scale(1.2);
    color: var(--accent-green);
  }
  &.close {
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    &:hover {
      transform: scale(1.2);
    }
  }
  &.previous {
    position: absolute;
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
  }
  &.next {
    position: absolute;
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    top: 50%;
    right: 5vw;
    transform: translateY(-50%);
  }
}

// ---------------------------- media tablets ----------------------------

@media screen and (max-width: 1023px) and (min-width: 767px) {
  #galleryView {
    margin-top: 10rem;
  }
  #galleryView svg {
    &#secondMacaroni {
      width: 23vw;
      z-index: 1;
    }
    &#thirdMacaroni {
      right: 8vw;
    }
  }
}

// ---------------------------- media phones ----------------------------

@media screen and (max-width: 767px) {
  #galleryView svg {
    &#secondMacaroni {
      width: 30vw;
      top: 1rem;
      z-index: 1;
    }
    &#thirdMacaroni {
      right: 8vw;
    }
    &#fourthMacaroni {
      top: 30vh;
      left: 10vw;
    }
  }
  #galleryView .galleryContent {
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img {
      margin-bottom: 1rem;
      border-radius: 2px;
      width: 25vw;
      height: 20vw;
      object-fit: cover;
      background: var(--background);
      color: var(--foreground);
      &:hover {
        cursor: pointer;
        outline: 2px solid var(--accent-green);
      }
    }
  }

  /* Fix misplaced properties for .previous and .next buttons */
  #galleryView button.previous {
    height: 10vw;
    left: 2vw;
  }
  #galleryView button.next {
    font-size: 1.5rem;
    width: 10vw;
    height: 10vw;
    right: 2vw;
  }
}

// ---------------------------- media phones landscape ----------------------------

@media screen and (max-height: 767px) and (max-width: 1023px) {
  #galleryView {
    margin-top: 8rem;
  }
  #galleryView .modalPopUp {
    margin: 0;
    z-index: 100;
  }
  #galleryView .modalPopUp .modalImage img {
    max-height: 95vh;
  }
}
