$accent: var(--accent-orange);
$font: var(--font-orange);

#helpView .waves svg {
  position: fixed;
  width: 150%;
  top: 5rem;
  left: -10%;
  opacity: 0.2;
  z-index: -1;
  transform: rotate(180deg);
  fill: var(--accent-secondary);
}

#helpView img {
  position: fixed;
  width: 20vw;
  height: auto;
  max-height: 80vh;
  top: 50%;
  right: 3vw;
  opacity: 1;
  // margin-top: 3.5rem;
  border-radius: 0;
  object-fit: contain;
  transform: translateY(-42%);
}

#helpView .content {
  margin: 6rem auto 0 4vw;
  width: 70vw;
  div {
    width: 100%;
  }
  h1 {
    color: $font;
    color: var(--accent-primary);
  }
}

#helpView .content .methods {
  justify-content: space-between;
  #percentageIcon {
    margin: 3rem 0.5rem 0 0;
    display: inline-block;
    width: auto;
    height: 1.5rem;
  }
  p {
    padding-top: 1.5rem;
    white-space: wrap;
  }
}

#helpView .content .methods .column {
  width: 45%;
  text-align: start;
  & > div {
    color: $accent;
    fill: $accent;
    h3 {
      font-size: 1.2rem;
      margin-top: 3rem;
      text-transform: uppercase;
    }
  }
}

// ---------------------------- media tablets ----------------------------

@media screen and (max-width: 1023px) and (min-width: 767px) {
  #helpView img {
    width: 30vw;
  }
  #helpView .content {
    width: 60vw;
    h1 {
      font-size: 2rem;
    }
  }
}

// ---------------------------- media phones ----------------------------

@media screen and (max-width: 767px) {
  #helpView .waves svg {
    top: 8rem;
  }

  #helpView img {
    position: relative;
    margin: 0 2rem 0 0;
    right: 0;
    transform: unset;
  }

  #helpView .content {
    padding: 0 clamp(1rem, 2vw, 8rem);
    margin: 8rem 0 0;
    width: 90vw;
    .header {
      align-items: center;
      display: flex;
      h1 {
        text-align: left;
        font-size: 1.5rem;
      }
      h3 {
        text-align: left;
        font-weight: 300;
      }
    }
  }

  #helpView .content .methods .column {
    #percentageIcon {
      height: 1.2rem;
      align-self: flex-start;
    }
    div h3 {
      text-align: start;
      font-size: 1rem;
    }
  }
}

// ---------------------------- media small phones ----------------------------

@media screen and (max-width: 500px) {
  #helpView .content .header {
    h1 {
      font-size: 1.1rem;
    }
    h3 {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-height: 767px) {
  #helpView .waves svg {
    top: 5rem;
  }
}
