#homeView {
  height: 100vh;
  background: url(/homeView.jpg) center/cover no-repeat;
  overflow: hidden;
}

#homeView header {
  height: 100%;
  width: 100%;
  background: color-mix(in srgb, var(--lighter) 35%, transparent);
  background-color: var(--overlay);
  background-image: radial-gradient(at 45% 37%, hsla(41, 78%, 74%, 0.5) 0px, transparent 50%),
    radial-gradient(at 95% 15%, hsla(88, 96%, 78%, 0.3) 0px, transparent 50%),
    radial-gradient(at 97% 7%, hsla(61, 65%, 69%, 0.7) 0px, transparent 50%),
    radial-gradient(at 23% 82%, hsla(236, 99%, 66%, 0.6) 0px, transparent 50%),
    radial-gradient(at 95% 50%, hsla(303, 85%, 62%, 0.7) 0px, transparent 70%),
    radial-gradient(at 90% 80%, hsla(135, 96%, 78%, 0.8) 0px, transparent 50%);
}

#homeView .heading {
  position: absolute;
  width: 60vw;
  top: 50%;
  right: 5vw;
  margin-left: auto;
  align-items: center;
  transform: translateY(-40%);
}

#homeView .heading .title {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h1 {
    font-size: 6rem;
    color: var(--lighter);
    font-family: 'Varela Round', sans-serif;
    text-shadow: none;
  }
  #percentageIcon {
    width: 15rem;
    height: auto;
    fill: var(--lighter);
    margin: 0 2rem;
  }
}

#homeView button {
  width: fit-content;
  padding: 1.5rem 4rem;
  margin-top: 4rem;
  border-radius: 5rem;
  border: 5px solid var(--lighter);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--lighter);
  background-color: transparent;
  box-shadow: 0 0 50px color-mix(in srgb, var(--background) 10%, var(--foreground) 30%);
  transition: all 0.5s ease;
  &:hover,
  &:focus {
    border: 5px solid var(--accent-primary);
    color: var(--accent-primary);
    background: linear-gradient(
      340deg,
      var(--lighter),
      color-mix(in srgb, transparent 60%, var(--lighter) 40%)
    );
    transform: scale(1.05);
  }
  span {
    margin-right: 1rem;
  }
}

// ---------------------------- media tablets ----------------------------

@media screen and (max-width: 1200px) {
  #homeView {
    background-position: 25%;
  }
  #homeView .heading .title {
    h1 {
      font-size: 4rem;
    }
    #percentageIcon {
      width: 9rem;
    }
  }
  #homeView button {
    padding: 1.5rem 3rem;
  }
}

// ---------------------------- media phones ----------------------------

@media screen and (max-width: 767px) {
  #homeView .heading .title {
    h1 {
      font-size: 2rem;
    }
    #percentageIcon {
      width: 7rem;
    }
  }
  #homeView button {
    padding: 1rem 2rem;
    font-size: 0.8rem;
    margin-top: 2rem;
    border-width: 3px;
  }
}
