#homeView {
  height: 100vh;
  background: url(/homeView.jpg) center/cover no-repeat;
  overflow: hidden;
}

#homeView header {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 167, 153, 0.35);
  background-image: radial-gradient(at 45% 37%, hsla(41, 78%, 74%, 0.5) 0px, transparent 50%),
    radial-gradient(at 95% 15%, hsla(88, 96%, 78%, 0.3) 0px, transparent 50%),
    radial-gradient(at 97% 7%, hsla(61, 65%, 69%, 0.7) 0px, transparent 50%),
    radial-gradient(at 23% 82%, hsla(236, 99%, 66%, 0.6) 0px, transparent 50%),
    radial-gradient(at 95% 50%, hsla(303, 85%, 62%, 0.7) 0px, transparent 70%),
    radial-gradient(at 90% 80%, hsla(135, 96%, 78%, 0.8) 0px, transparent 50%);

  // @media screen and (prefers-color-scheme: dark) {
  //   background-image: radial-gradient(at 45% 37%, hsla(41, 31%, 54%, 0.5) 0px, transparent 50%),
  //     radial-gradient(at 95% 15%, hsla(87, 27%, 42%, 0.3) 0px, transparent 50%),
  //     radial-gradient(at 97% 7%, hsla(61, 28%, 38%, 0.7) 0px, transparent 50%),
  //     radial-gradient(at 23% 82%, hsla(236, 53%, 38%, 0.6) 0px, transparent 50%),
  //     radial-gradient(at 95% 50%, hsla(304, 52%, 32%, 0.7) 0px, transparent 70%),
  //     radial-gradient(at 90% 80%, hsla(135, 43%, 33%, 0.8) 0px, transparent 50%);
  // }
}

#homeView .heading {
  position: absolute;
  width: 60vw;
  top: 50%;
  right: 5vw;
  margin-left: auto;
  align-items: center;
  transform: translateY(-40%);
}

#homeView .heading .title {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h1 {
    font-size: 6rem;
    color: white;
    font-family: 'Varela Round', sans-serif;
    text-shadow: none;
  }
  #percentageIcon {
    width: 15rem;
    height: auto;
    fill: white;
    margin: 0 2rem;
  }
}

#homeView button {
  width: fit-content;
  padding: 1.5rem 4rem;
  margin-top: 4rem;
  border-radius: 5rem;
  border: 5px solid var(--accent-primary);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--accent-primary);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
  &:hover, &:focus {
    color: white;
    background: linear-gradient(340deg, rgb(0, 82, 158, 0.1), rgb(94, 110, 187, 0.2));
    background: linear-gradient(340deg, var(--accent-primary), rgb(94, 110, 187, 0.2));
    transform: scale(1.05);
  }
  span {
    margin-right: 1rem;
  }
}

// ---------------------------- media tablets ----------------------------

@media screen and (max-width: 1200px) {
  #homeView {
    background-position: 25%;
  }
  #homeView .heading .title {
    h1 {
      font-size: 4rem;
    }
    #percentageIcon {
      width: 9rem;
    }
  }
  #homeView button {
    padding: 1.5rem 3rem;
  }
}

// ---------------------------- media phones ----------------------------

@media screen and (max-width: 767px) {
  #homeView .heading .title {
    h1 {
      font-size: 2rem;
    }
    #percentageIcon {
      width: 7rem;
    }
  }
  #homeView button {
    padding: 1rem 2rem;
    font-size: 0.8rem;
    margin-top: 2rem;
    border-width: 3px;
  }
}
