$about: var(--accent-yellow);
$treatment: var(--accent-green);
$gallery: var(--accent-green);
$gratitude: var(--accent-yellow);
$foundation: var(--accent-blue);
$help: var(--accent-orange);

header#navbarView {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.info {
  background: var(--dark);
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.info p {
  padding: 0;
  font-size: 0.8rem;
  color: var(--accent-orange);
}

.info div:first-child {
  text-align: left;
}
.info div:last-child {
  text-align: right;
}

nav {
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background: white;
}

nav button {
  border: none;
  background: none;
}

nav button.siteLogo {
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-family: 'Varela Round', sans-serif;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 800;
  white-space: nowrap;
  color: var(--accent-primary);
  span {
    font-size: 0.6rem;
    letter-spacing: 3px;
    font-weight: 500;
  }
}

nav button.menuItem {
  padding: 1rem;
  font-size: 0.8rem;
  position: relative;
  text-transform: uppercase;
  transition: font-weight 0.3s ease-out;
  &.active {
    font-weight: 600;
    color: var(--accent-secondary);
  }
  &:hover {
    color: var(--accent-secondary);
  }
  &::before {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--accent-secondary);
    bottom: 5px;
    left: 0;
    transition: width 1s ease;
  }
  &:hover::before {
    width: 100%;
  }
}

nav button.menuItem {
  &.about {
    &:hover {
      color: $about;
    }
    &::before {
      background-color: $about;
    }
    &.active {
      color: $about;
    }
  }
  &.treatment {
    &:hover {
      color: $treatment;
    }
    &::before {
      background-color: $treatment;
    }
    &.active {
      color: $treatment;
    }
  }
  &.gallery {
    &:hover {
      color: $gallery;
    }
    &::before {
      background-color: $gallery;
    }
    &.active {
      color: $gallery;
    }
  }
  &.gratitude {
    &:hover {
      color: $gratitude;
    }
    &::before {
      background-color: $gratitude;
    }
    &.active {
      color: $gratitude;
    }
  }
  &.foundation {
    &:hover {
      color: $foundation;
    }
    &::before {
      background-color: $foundation;
    }
    &.active {
      color: $foundation;
    }
  }
  &.help {
    &:hover {
      color: $help;
    }
    &::before {
      background-color: $help;
    }
    &.active {
      color: $help;
    }
  }
}

.navigation ul {
  gap: 2rem;
  align-items: center;
}

a.foundationLogo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 1.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 0;
    display: block;
  }
}

nav .toggleMobile {
  margin-left: 2rem;
  position: relative;
  height: 4rem;
  width: 4rem;
  #hamburger {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: rgb(36, 36, 36);
    transition: stroke 1s ease;
    z-index: 100;
  }
  &:hover #hamburger,
  &:focus #hamburger {
    cursor: pointer;
  }
}

nav.active .toggleMobile #hamburger {
  background: white;
  border-radius: 50%;
  animation: fadeIn 1s ease;
  #top-line {
    animation: rotateDown 0.6s ease-out both;
  }
  #bottom-line {
    animation: rotateUp 0.6s ease-out both;
  }
  #middle-line {
    animation: fadeOut 0.6s ease-out forwards;
  }
}

// ---------------------------- keyframes ----------------------------

@keyframes rotateUp {
  0% {
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translate(0, 0);
  }
  30% {
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translate(0px, -10px);
  }
  100% {
    transform: rotate(-45deg) translate(-24.5px, 0.5px);
  }
}

@keyframes rotateDown {
  0% {
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translate(0, 0);
  }
  30% {
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translate(0px, 10px);
  }
  100% {
    transform: rotate(45deg) translate(10.5px, -15.5px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    background: transparent;
  }
  100% {
    background: white;
  }
}

@keyframes scaleIn {
  0% {
    width: 10px;
    height: 10px;
  }
  100% {
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20vh);
    opacity: 0;
  }
  50% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// ---------------------------- media smaller screens ----------------------------

@media screen and (min-width: 1023px) and (max-width: 1400px) {
  nav button {
    &.siteLogo {
      font-size: 1.3rem;
      span {
        font-size: 0.4rem;
      }
    }
    &.menuItem {
      font-size: 0.6rem;
    }
  }

  .navigation ul {
    gap: 1rem;
  }
  a.foundationLogo {
    height: 2.5rem;
  }
}

// ---------------------------- media phones ----------------------------

@media screen and (max-width: 1023px) {
  nav button.siteLogo {
    font-size: 1.3rem;
    span {
      font-size: 0.4rem;
    }
  }

  nav {
    button.menuItem {
      font-weight: 400;
      font-size: 1.6rem;
      transform: translateY(0);
      &.active {
        font-weight: 700;
      }
    }
    &.active button.menuItem {
      animation: slideDown 1s ease;
    }
  }

  nav {
    .navigation {
      place-content: center;
      position: absolute;
      height: 100dvh;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      visibility: hidden;
      ul {
        flex-direction: column;
        margin: clamp(1rem, 5vh, 7rem) 0;
        gap: 0;
        justify-content: space-around;
      }
    }
    &.active .navigation {
      visibility: visible;
      ul li {
        @for $item from 1 through 6 {
          &:nth-child(#{$item}) {
            button.menuItem {
              animation-name: slideDown;
              animation-duration: calc(0.4s + (0.1s * #{$item}));
            }
          }
        }
      }
    }
  }

  nav.active .toggleMobile::before {
    background: var(--light);
    background: rgb(235, 235, 235);
    width: 500vh;
    height: 500vh;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 50%;
    animation: scaleIn 1s ease;
  }

  nav .foundationLogo {
    height: 2rem;
    width: 2rem;
    margin-left: auto;
  }

  nav .foundationLogo img {
    height: 100%;
    width: 100%;
  }
}

// ---------------------------- media phones ----------------------------

@media screen and (max-width: 768px) {
  nav {
    padding: 1rem 0.5rem;
  }

  nav button {
    &.siteLogo {
      font-size: 1rem;
      span {
        font-size: 0.4rem;
      }
    }
    &.menuItem {
      font-size: 1rem;
    }
  }

  nav a.foundationLogo {
    height: 2rem;
  }

  nav .toggleMobile {
    margin-left: 0.5rem;
  }
}

// ---------------------------- media phones landscape ----------------------------

@media screen and (max-height: 767px) and (max-width: 1023px) {
  nav {
    padding: 0rem 0.5rem;
  }

  nav button.menuItem {
    font-size: 0.8rem;
  }

  nav .toggleMobile {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
  }

  nav.active .toggleMobile::before {
    width: 500vw;
    height: 500vw;
  }

  nav a.foundationLogo {
    height: 2.5rem;
  }
}
